{% extends "base.html" %}
{% load static %}
{% block sidebar %}

<li class="nav-item active">
    <a class="nav-link" href="#index.html">
        <span>Dashboard</span></a>
</li>

{% endblock %}

{% block navbar %}
<div class="input-group d-flex align-items-center">

    <button class="btn btn-primary d-flex align-items-center" type="button" data-bs-toggle="modal"
        data-bs-target="#bulkForm">
        <span class="mr-2 ml-2">Create Container</span>
        <span class="material-symbols-outlined">create_new_folder</span>
    </button>

    {% include 'api_bulk/modal.html' %}
</div>

<form class="navbar-search">
    <div class="input-group d-flex align-items-center">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search"
            aria-describedby="basic-addon2">

        <button class="btn btn-primary" type="button">
            <span class="material-symbols-outlined">search</span>
        </button>
    </div>
</form>

{% endblock %}


{% block container %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Assigned Tasks</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                TASK#1</div>
                            <div class="h6 mb-0 text-gray-500">NSE-INSIDER-TRADE</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/api_home/script.js' %}"></script>
{% endblock %}

